@* razor code block
@{

} // for all types of building blocks such as if and for
razor expressions
@Expression
@(Expression) 

*@

@model List<Book>
@{
    string appTitle = "ASP.NET Core Demo app";
    Book book = new Book();
    string alertMessage = $"<script>alert('Someone here!')</script>";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["appTitle"]</title>
     @* no need to type case + returns null if not found + member access format *@
    <title>@ViewBag.appTitleTwo</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>App</header>

    @* for treating string as HTML code *@
    @Html.Raw(alertMessage)
    @{
        book.Author = "Salma";
        <div>Changing author name</div>
    }
    @foreach(Book book1 in Model) // strongly typed view
    {
        <text>book1.Author</text>
    }
    Welcome @book.Author
</body>
</html>
